*{
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align: right;
    padding: 0 2%;
}

ul li{
    color: red;
}